body {
  background-color:#f0e6ea ;
}
.h h4{
    text-align: center;
    padding: 50px;
    color: #970542;
    font-size: 50px;
}

.pd li{
    padding-top: 10px;
    text-align: center;
    font-weight:bold;
    list-style-type: none;
    font-size: larger;
}
.pd li a{
    color: #970542;
    text-decoration: none;
}
.pd li a:hover{
    color: #6e1d4e;
}
.pd dl{
    text-align: center;
    margin:2%;
    font-size: larger;
}

.footer a{
    text-align:center;
    padding:30px;
    color:#970542;
    text-decoration:none;
}

.footer a:hover {
    color:#6e1d4e;
}